<form class="convo" type="submit" action='/convoPage' method="GET" onclick="this.submit();">
<h2>This is a Convo (clickable)</h2>
  <input type="hidden" name="convoId" value="{{this.convo_id}}" />
  <img src="{{this.user2_img_url}}" class="userImg" alt="(userImage)">
</form>
<h2>{{this.topic}}</h2>
