<h2>This is a Message</h2>
<img src="{{this.sender_user_img_url}}" class="userImg" alt="(userImage)">
<h3 class="userName">{{this.sender_full_name}}</h3>
<p class="createdAt">{{this.created_at}}</p>
<p class="content">{{this.content}}</p>