<!DOCTYPE html>
<html>

<head>
  <title>
    Internet App
  </title>
    {{#if landingPageJSCSS }}
    <script type="text/javascript" src="/js/landingPage.js" defer></script>
    <link href='/css/landingPage.css' rel='stylesheet' />
    {{/if}}
    {{#if signupPageJSCSS }}
    <script type="text/javascript" src="/js/signupPage.js" defer></script>
    <link href='/css/signupPage.css' rel='stylesheet' />
    {{/if}}
    {{#if dashboardJSCSS }}
    <script type="text/javascript" src="/js/dashboard.js" defer></script>
    <link href='/css/dashboard.css' rel='stylesheet' />
    {{/if}}
    {{#if convosPageJSCSS }}
    <script type="text/javascript" src="/js/convosPage.js" defer></script>
    <link href='/css/convosPage.css' rel='stylesheet' />
    {{/if}}
    {{#if editProfilePageJSCSS }}
    <script type="text/javascript" src="/js/editProfilePage.js" defer></script>
    <link href='/css/editProfilePage.css' rel='stylesheet' />
    {{/if}}
    {{#if profilePageJSCSS }}
    <script type="text/javascript" src="/js/profilePage.js" defer></script>
    <link href='/css/profilePage.css' rel='stylesheet' />
    {{/if}}
    {{#if querySearchPageJSCSS }}
    <script type="text/javascript" src="/js/querySearchPage.js" defer></script>
    <link href='/css/querySearchPage.css' rel='stylesheet' />
    {{/if}}
    {{#if sendMessagePageJSCSS }}
    <script type="text/javascript" src="/js/sendMessagePage.js" defer></script>
    <link href='/css/sendMessagePage.css' rel='stylesheet' />
    {{/if}}
    {{#if topicSearchPageJSCSS }}
    <script type="text/javascript" src="/js/topicSearchPage.js" defer></script>
    <link href='/css/topicSearchPage.css' rel='stylesheet' />
    {{/if}}
    {{#if postRepliesPageJSCSS }}
    <script type="text/javascript" src="/js/postRepliesPage.js" defer></script>
    <link href='/css/postRepliesPage.css' rel='stylesheet' />
    {{/if}}

  
</head>

<body>
  {{{ body }}}
</body>