<!DOCTYPE html>
<html>

<head>
  <title>
    Internet App
  </title>
    {{#if landingPageJSCSS }}
    <script type="text/javascript" src="/js/landingPage.js" defer></script>
    <link href='/css/landingPage.css' rel='stylesheet' />
    {{/if}}
    {{#if signupPageJSCSS }}
    <script type="text/javascript" src="/js/signupPage.js" defer></script>
    <link href='/css/signupPage.css' rel='stylesheet' />
    {{/if}}
    {{#if dashboardJSCSS }}
    <script type="text/javascript" src="/js/dashboard.js" defer></script>
    <link href='/css/dashboard.css' rel='stylesheet' />
    {{/if}}
  
</head>

<body>
  {{{ body }}}
</body>