<!DOCTYPE html>
<html>

<head>
  <title>
    Landing Page
  </title>
</head>

<body>
  <h1>Landing Page</h1>
  <div class='loginModule'>
    <h2>Login</h2>
    <input class="inp_username" type="text" maxlength="40" placeholder="username">
    <input class="inp_password" type="text" maxlength="40" placeholder="password">
    <button class="btn_login">Login</button>
  </div>
  <br>
  <div class='registerModule'>
      <h2>Sign up</h2>
      <input class="inp_firstName" type="text" maxlength="40" placeholder="first name">
      <input class="inp_lastName" type="text" maxlength="40" placeholder="last name">
      <input class="inp_email" type="text" maxlength="99" placeholder="email">
      <br>
      <input class="inp_password" type="text" maxlength="40" placeholder="password">
      <input class="inp_confirmPassword" type="text" maxlength="40" placeholder="confirm password">
      <button class="btn_signup">Signup</button>
  </div>


</body>