<h1>Dashboard</h1>
<h2>UserData</h2>
<p>{{ user_data }}</p>
<h2>PostData</h2>
<p>{{ post_data }}</p>
<h2>Temp Page Links</h2>
<a href="../querySearchPage">Query Search Page</a>
<a href="../topicSearchPage">&nbsp;Topic Search Page</a>
<a href="../profilePage">&nbsp;Profile Page</a>
<a href="../sendMessagePage">&nbsp;Send Message Page</a>
<a href="../editProfilePage">&nbsp;Edit Profile Page</a>
<a href="../convosPage">&nbsp;Convos Page</a>
<br>
<br>
<form class='createPostModule' action='/createPost' method="POST">
  <h2>Create Post</h2>
  <input class="inp_subject" name="subject" type="text" maxlength="40" placeholder="subject">
  <input class="inp_details" name="details" type="text" maxlength="500" placeholder="details">
  <label for="inp_topic">Topic:</label>
  <select class="inp_topic" name="topic">
    <option value="corona">Corona</option>
    <option value="not_corona">Not Corona</option>
  </select>
  <input class="btn_post" name="login" type="submit" value="Post to Timeline" />
</form>
<br>
<br>
<a href="/">Logout</a>