<h1>Dashboard</h1>
<h2>UserData</h2>
<p>{{ user_data }}</p>
<h2>PostData</h2>
<p>{{ post_data }}</p>
<h2>Temp Page Links</h2>
<a href="../querySearchPage">Query Search Page</a>
<a href="../topicSearchPage">&nbsp;Topic Search Page</a>
<a href="../profilePage">&nbsp;Profile Page</a>
<a href="../sendMessagePage">&nbsp;Send Message Page</a>
<a href="../editProfilePage">&nbsp;Edit Profile Page</a>
<a href="../convosPage">&nbsp;Convos Page</a>
<br>
<br>
<a href="/">Logout</a>