<h1>Dashboard</h1>
<h2>UserData</h2>
<p>{{ user_data }}</p>
<h2>PostData</h2>
<p>{{ post_data }}</p>
<h2>Temp Page Links</h2>
<a href="../querySearch">Query Search Page</a>
<a href="../topicSearch">&nbsp;Topic Search Page</a>
<a href="../profile">&nbsp;Profile Page</a>
<a href="../sendMessage">&nbsp;Send Message Page</a>
<a href="../editProfile">&nbsp;Edit Profile Page</a>
<a href="../convos">&nbsp;Convos Page</a>
<br>
<br>
<a href="/">Logout</a>