<h1>Landing Page</h1>
<div class='loginModule'>
  <h2>Login</h2>
  <input class="inp_email" type="text" maxlength="40" placeholder="email">
  <input class="inp_login_password" type="password" maxlength="40" placeholder="password">
  <button class="btn_login" onClick=login()>Login</button>
</div>
<br>
<div class='signupModule'>
  <h2>Sign up</h2>
  <input class="inp_firstName" type="text" maxlength="40" placeholder="first name">
  <input class="inp_lastName" type="text" maxlength="40" placeholder="last name">
  <input class="inp_email_" type="text" maxlength="99" placeholder="email">
  <br>
  <input class="inp_signupPassword" type="password" maxlength="40" placeholder="password">
  <input class="inp_confirmPassword" type="password" maxlength="40" placeholder="confirm password">
  <button class="btn_signup" onClick=processRegistration()>Signup</button>
</div>