<header><span></span></header><!--background for topbanner-->
<div id="top-container">
  <div id="logo"><a href="/dashboard"> <h1><span id="highlight">c</span>k</h1></a></div>
  <div id="search-bar">
  <form class="searchByQuery" action='/querySearchPage' method="GET">
  <input class="inp_searchBar" name="searchQuery" type="text" maxlength="40" placeholder="Search">
      <button class="btn_searchQuery" type="submit" value="Search">
          <img src="./images/searchIcon.png" alt="Search" />
      </button>
  </form>
  </div>
  <form name="logout" method="post" action="">
  <label class="logoutLblPos">
      <button class="logout-btn" name="logoutbtn" type="submit" value="Logout">
          <img src="images/logoutIcon.png" alt="Log Out" />
      </button>
  </label>
</form>
</div>

<h1>Query Search Results:</h1>
<div id="post-container">
{{#each post_data}}
{{>post this}}
{{/each}}
</div>
