<h1>Signup Page</h1>
<form class='signupModule' action='/completeRegistration' method='POST'>
  <h2>Sign up Pt.2</h2>
  <input class="inp_imgURL" name="imgURL" type="text" maxlength="40" placeholder="imgURL">
  <input class="inp_bio" name="bio" type="text" maxlength="40" placeholder="bio">
  <input class="inp_country" name="country" type="text" maxlength="40" placeholder="country">
  <input class="inp_dateOfBirth" name="dateOfBirth" type="text" maxlength="40" placeholder="date of birth (YYYY-MM-DD)">
  <input class="btn_completeRegistration" type="submit" value='Complete Registration' />
</form>