<h1>Signup Page</h1>
<div class='signupModule'>
  <h2>Sign up Pt.2</h2>
  <input class="inp_imgURL" type="text" maxlength="40" placeholder="imgURL">
  <input class="inp_bio" type="text" maxlength="40" placeholder="bio">
  <input class="inp_country" type="text" maxlength="40" placeholder="country">
  <input class="inp_dateOfBirth" type="text" maxlength="40" placeholder="dateOfBirth">
  <button class="btn_completeRegistration">Complete Registration</button>
</div>