body {
	font-size: 15pt;
}
#top-container {
	background-color: none;
	height: 10em;
	width: 100%;
	text-align: center;
	margin-bottom: -2em;
}

.btn_searchQuery {
	font-size: 1em;
	padding: 0.8em;
	background-color: orangered;
}

.inp_searchBar {
	width: 30em;
	height: 3em;
	background-color: whitesmoke;
}

#logout-btn {
	font-size: 1em;
	padding: 0.8em;
	background-color: orangered;
	float: left;
	margin: 2.5em 0em 0em 25em;
}

#logo {
	font-size: 20pt;
	float: left;
	margin-top: 10pt;
	margin-left: 1.5em;
}

#search-bar {
	float: left;
	margin: 2.5em;
}

#highlight {
	color: orangered;
}

a {
	color: inherit;
	text-decoration: none;
}

#left-container {
	float: left;
	border-style: none;
	margin: 0em 10em 0em 5em;
}

#right-container {
	float: left;
	border-style: none;
	height: auto;
}

.inp_subject {
	width: 15em;
	font-size: 15pt;
	margin-bottom: 1em;
}

.inp_content {
	width: 15em;
	font-size: 15pt;
	margin-bottom: 1em;
	height: 10em;
}

.inp_topic {
	width: 15em;
	font-size: 15pt;
	color: red;
	border-style: solid;
	border-color: red;
}

.btn_post {
	font-size: 15pt;
	padding: 0.3em;
	margin: 10pt;
	background-color: orangered;
}

.btn_searchTopic {
	font-size: 15pt;
	padding: 0.3em;
	margin: 10pt;
	background-color: orangered;
}

label {
	color: orangered;
}

.userImg {
	max-width: 5rem;
}
