body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Calibri, "Times New Roman", serif;
    background-color: #F2F2F2;
}

header{
    position: absolute;
    top: 0;
    left: -2pt;
    width: 100%;
    height: 80pt;
    background-color: red;
    z-index: -2;
    border: solid black 2pt;
    box-shadow: 0 7px 6px -6px black;
}

header span{
    background-color: #F2F2F2;
    transform: skew(-25deg);
    z-index: -1;
    position: absolute;
    top: -2pt;
    left: 70pt;
    width: 280pt;
    height: 80pt;
    border: solid black 2pt;
}

#topbanner{
    margin: 1em; 
    width: auto;
}

#header-right {
    float: right;
    margin: 1.1em;
}

#logo{
    float: left;
    font-size: large;
    margin-left: 70pt;
}
#highlight{
    color: orangered;
}

input[type=text], input[type=password], input[type=email]{
    background-color: white;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    background-color: #FFE8B5;
}

#loginModule input[type=text]:focus, #loginModule input[type=password]:focus{
    background-color: #FFE8B5;
}

#signupModule{
    color: orangered;
}

#signUpContainer{
    position: absolute;
    top: 75pt;
    left: 55%;
    width: 41%;
    height: 86%;
    border: solid black 2pt;
    background-color: #F2F2F2;
    text-align: center;
    z-index: -3;
    padding: 20pt;
}

#signUpContainer form{
    text-align: left;
    position: relative;
    left: 4%;
    top: 5%;
}

#bgImg{
    z-index: -4;
    position: absolute;
    top: 70pt;
    left: -12pt;
    width: 78.5%;
    margin: 1em;
    border-bottom: solid 3px;

}

form{
    opacity: 1.0;
}

#formInfo{
    padding-top: 3em;
    clear:  both;
    display: flex; 
    flex-direction: row;
}

#formInfo h2{
    text-align: left;
    font-size: 1.8em;
}

input{
    border: solid grey 1pt;
    color: black;
    padding: 5pt;
    margin: 5pt 0 5pt 0;
    background: none;
}

input::placeholder{
    color: grey;
}

input[type=submit]{
    transition: 0.5s;
    border: solid black 1pt;
    background-color: red;
    color: white;
    padding: 5pt;
}

input[type=submit]:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

a { color: inherit; 
    text-decoration:none
} 

