body{
    overflow-x: hidden;
}

h1{
    color: red;
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

form{
    margin: auto;
    opacity: 1.0;
}

#formInfo{
    display: inline-block;
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 10pt;
    border: solid black 2pt;
}

input{
    border: solid black 2pt;
    color: white;
    padding: 5pt;
    margin: 5pt 0 5pt 0;
    background: none;
}

input::placeholder{
    color: black;
}

input[type=submit]{
    transition: 0.5s;
    background-color: red;
    border: solid black 2pt;
    color: black;
    padding: 5pt;
}

input[type=submit]:hover{
    transition: 0.5s;
    background-color: white;
    cursor: pointer;
}