body{
    overflow-x: hidden;
    font-family: Arial, Calibri, "Times New Roman", serif;
}

#right-container{
    float: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em;
    margin-left: -5em;
}

form{
    opacity: 1.0;
}

#left-container{
    float: left;
    width: 50%; 
    margin-left: 4em;
}
#formInfo{
    display: inline-block; 
    width: 100%;
    height: 20em;
}

#formInfo h2{
    text-align: left;
    font-size: 40pt;
}

input{
    border: solid grey 1pt;
    color: black;
    padding: 5pt;
    margin: 5pt 0 5pt 0;
    background: none;
}

input::placeholder{
    color: black;
}

input[type=submit]{
    transition: 0.5s;
    border: solid black 1pt;
    background-color: red;
    color: white;
    padding: 5pt;
}

input[type=submit]:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

textarea{
    resize: none;
}

#highlight{
    color: orangered;
}

#logo{
    font-size: large;
    margin: 3em;
}

a { color: inherit; 
    text-decoration:none
} 
